<div>
  <div>
    <h1>
      <%= @the_board.name %>
    </h1>

  <hr>
  
</div>

<div>
  <h2>Add a new post</h2>
  <form action="/insert_post" method="post">

    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="title">
    </div>    

    <div>
      <label for="body">Body</label>
      <textarea id="body" name="body"></textarea>
    </div> 

    <div>
      <label for="expire">Expires on</label>
      <input type="date" id="expire" name="expire">
    </div>

    <div>
      <label for="board_id"></label>
      <input type="hidden" id="board_id" name="board_id" value="<%= @the_board.id %>">
    </div>

    <button>Add post</button>

  </form>
</div>

<hr>

</div>
<div>
  <h2>Active posts</h2>
  <% matching_posts = Post.where({:board_id => @the_board.id})%>
  
    <table border="1">
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th>Posted on</th>
        <th>Expires on</th>
      </tr>
      <% matching_posts.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.body %></td>
        <td><%= item.created_at %></td>
        <td><%= item.expires_on %></td>
      </tr>
    <% end %>
    </table>
</div>
<hr>
